<style>
    /* .btn-search {
        background-color: #fe424d;
        color: #fff;
    }
    
    .btn-search i {
        display: inline;
        margin: 1rem;
    } */
    
    .btn-search {
        background-color: #fe424d;
        color: #fff;
        display: inline-flex;
        /* icon + text inline */
        align-items: center;
        /* vertical center */
        gap: 0.5rem;
        /* icon-text gap */
        padding: 0 1rem 0 1rem;
        /* spacing */
        border-radius: 25px;
    }
    
    .btn-search:hover {
        background-color: #fe424289;
        color: #fff;
    }
    
    .btn-search i {
        margin: 0;
        /* extra margin hata de */
    }
    
    .input-search {
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
</style>
<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-solid fa-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link" href="/">Home</a> -->
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <div class="navbar-nav  ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-arch input-search" type="search" placeholder="Search Your Destiation" aria-label="Search" />
                    <button class="btn btn-search" type="submit">
<i class="fa-solid fa-magnifying-glass"></i>  Search</button>
                </form>
            </div>


            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Travix Your Home</a>
                <%if(!currUser){%>
                    <a class="nav-link" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                    <%}%>
                        <%if(currUser){%>
                            <a class="nav-link" href="/logout">LogOut</a>
                            <%}%>
            </div>
        </div>
    </div>
</nav>